.
  ---
  title: Fish Bowl Pok&#233;
  hero: https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.0-9/31880718_2074519646135383_2179269700230316032_o.jpg?_nc_cat=0&oh=89e8f570fc7a287f897c72e919141081&oe=5B4EB068
  feature: https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.0-9/31758285_2074519162802098_666002741591539712_o.jpg?_nc_cat=0&oh=36e6e858ce21af2515aebaa662b73fc1&oe=5B4E9172
  ---
    
doctype html
//
  -
  Copyright 2017 The AMP Start Authors. All Rights Reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS-IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
head
  meta(charset='utf-8')
  title {{ page.title }}
  link(rel='canonical' href='https://www.ampstart.com/templates/themes_2/home.amp')
  meta(name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1')
  script(async='' src='https://cdn.ampproject.org/v0.js')
  style(amp-boilerplate='').
    body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
  noscript
    style(amp-boilerplate='').
      body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
  script(custom-element='amp-carousel' src='https://cdn.ampproject.org/v0/amp-carousel-0.1.js' async='')
  script(custom-element='amp-image-lightbox' src='https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js' async='')
  script(custom-element='amp-sidebar' src='https://cdn.ampproject.org/v0/amp-sidebar-0.1.js' async='')
  link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CLora%7CLato' rel='stylesheet')
  style(amp-custom='') {% include styles.css %}
// Start Navbar
header.ampstart-headerbar.fixed.flex.justify-start.items-center.top-0.left-0.right-0.pl2.pr4
  .ampstart-navbar-trigger.pr2(role='button' aria-label='open sidebar' on='tap:header-sidebar.toggle' tabindex='0')
    | &#x2630;  
| {% include sidebar.html %}
// End Navbar
.center
  // Start Fullpage Hero
  figure.ampstart-image-fullpage-hero.m0.relative.mb4
    amp-img(width='404' height='720' alt='Welcome to Beck & Galo Modern American Cuisine' layout='responsive' src='{{ page.hero }}' media='(max-width: 415px)')
    amp-img(height='720' alt='Welcome to Beck & Galo Modern American Cuisine' layout='fixed-height' src='{{ page.hero }}' media='(min-width: 416px)')
    figcaption.absolute.top-0.right-0.bottom-0.left-0
      header.p3
        h1.ampstart-fullpage-hero-heading.mb3
          span.ampstart-fullpage-hero-heading-text
            span.h1.block.caps {{ page.title }}
      footer.absolute.left-0.right-0.bottom-0
        a.ampstart-btn.inline-block.ampstart-fullpage-hero-cta.h5.m3.text-decoration-none(href='menu.amp.html') View Menu
  // End Fullpage Hero
main#content(role='main')
  article.px3
    h2#story.my4.theme2-anchored Our Story
    p.mb1
      | Poke means “to slice or cut” in Hawaiian and refers to chunks of raw fish which is then tossed over rice and topped with vegetables and sauce.
    p.mb1
      | Nulla egestas est in dui iaculis, at placerat nibh tincidunt. Curabitur at elit sit amet magna finibus congue. Donec non ante bibendum, tempus mauris at, pharetra lorem. Pellentesque lobortis in eros ac tincidunt. Praesent eu nisl sit amet massa suscipit faucibus a eu augue. Donec ipsum est, interdum non blandit vitae, bibendum vitae tellus. Suspendisse ultrices mollis elit, in hendrerit tellus pharetra vitae. Proin sed lectus maximus mauris tristique bibendum id vel sem. Curabitur sollicitudin ligula et purus dictum euismod. Donec tempus lacus in iaculis iaculis.
    p.mb1
      | Suspendisse eu aliquet libero. Aenean malesuada vestibulum iaculis. Curabitur vitae ipsum interdum, feugiat odio non, lacinia nibh. Nulla vitae volutpat massa. Curabitur porttitor viverra massa, id lacinia est ornare non. Aliquam erat volutpat. Integer lobortis dictum dolor, at convallis nulla lacinia vitae. Cras sit amet placerat lectus. Vestibulum pulvinar finibus dui eget egestas. Quisque et sagittis urna. Nulla facilisi. Nunc malesuada, arcu quis volutpat hendrerit, dui libero eleifend ipsum, sit amet hendrerit dui ligula nec enim. Nunc dictum efficitur tempus. Fusce suscipit feugiat tellus, ac bibendum nunc semper suscipit.
    .my4.mxn3.center
      // Start Image with heading
      figure.ampstart-image-with-heading.m0.relative.mb4
        amp-img(src='{{ page.feature }}' width='600' height='450' alt='Happy Hour Monday through Friday 5 PM' layout='responsive')        
        //figcaption.absolute.right-0.bottom-0.left-0
          header.ampstart-image-heading.px2.py2.line-height-4
            h2.h1.bold Happy Hour
            p.h4 Mon-Fri 5PM
      // End Image with heading
    h2#locations.my4.theme2-anchored Locations &amp; Hours
    .col.col-12.sm-col-6.mb4
      h3.mb1 Minneapolis
      p.mb0
        | 5 W 34th Street        
      p.mb0
        | Tue-Sun 5pm&ndash;9pm
        br
        | Mon closed
        br
        | Phone 
        a(href="tel:6123542516") (612) 354-2516
    h2#gallery.my4.theme2-anchored Photo Gallery
    amp-image-lightbox#lightbox(layout='nodisplay')
    amp-carousel.my2.mxn3(height='200' layout='fixed-height' type='carousel')
      amp-img(src='images/hero.jpg' width='300' height='200' alt='Dining area' on='tap:lightbox' role='button' tabindex='0')
      amp-img(src='images/bar.jpg' width='300' height='200' alt='Bar area' on='tap:lightbox' role='button' tabindex='0')
      amp-img(src='images/waffles.jpg' width='300' height='200' alt='Caramel Banana Waffles' on='tap:lightbox' role='button' tabindex='0')
      amp-img(src='images/soup.jpg' width='300' height='200' alt='Pumpkin Soup' on='tap:lightbox' role='button' tabindex='0')
      amp-img(src='images/steak.jpg' width='300' height='200' alt='Steak' on='tap:lightbox' role='button' tabindex='0')
      amp-img(src='images/pie.jpg' width='300' height='200' alt='Key Lime Pie' on='tap:lightbox' role='button' tabindex='0')
// Start Footer
footer.ampstart-footer.flex.flex-column.items-center.px3
  small
    | &copy; {{ page.title }}
// End Footer
