.
  ---
  layout: default
  hero: https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.0-9/31880718_2074519646135383_2179269700230316032_o.jpg?_nc_cat=0&oh=89e8f570fc7a287f897c72e919141081&oe=5B4EB068
  feature: https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.0-9/31758285_2074519162802098_666002741591539712_o.jpg?_nc_cat=0&oh=36e6e858ce21af2515aebaa662b73fc1&oe=5B4E9172
  title: home
  canonical: https://yggilabs.github.io/design/
  ---

.center
  // Start Fullpage Hero
  figure.ampstart-image-fullpage-hero.m0.relative.mb4
    amp-position-observer(on='scroll:parallaxTransition.seekTo(percent=event.percent)' intersection-ratios='0' layout='nodisplay')
    amp-img(width='404' height='720' alt='Welcome to Beck & Galo Modern American Cuisine' layout='responsive' src='{{ page.hero }}' media='(max-width: 415px)' id="parallaxImage")
    amp-img(height='720' alt='Welcome to Beck & Galo Modern American Cuisine' layout='fixed-height' src='{{ page.hero }}' media='(min-width: 416px)')
    amp-animation#parallaxTransition(layout='nodisplay')
      script(type='application/json').
        {
          "duration": "1",
          "fill": "both",
          "direction": "reverse",
          "animations": [{
            "selector": "#parallaxImage",
            "keyframes": [{
              "transform": "translateY(0)"
            },
            {
              "transform": "translateY(30%)"
            }]
          }]
        }
    figcaption.absolute.top-0.right-0.bottom-0.left-0
      header.p3
        h1.ampstart-fullpage-hero-heading.mb3
          span.ampstart-fullpage-hero-heading-text
            span.h1.block.caps {{ page.title }}
      footer.absolute.left-0.right-0.bottom-0
        a.ampstart-btn.inline-block.ampstart-fullpage-hero-cta.h5.m3.text-decoration-none(href='menu.html') View Menu
  // End Fullpage Hero
main#content(role='main')
  article.px3
    h2#story.my4.theme2-anchored Our Story
    p.mb1
      | Poke means “to slice or cut” in Hawaiian and refers to chunks of raw fish which is then tossed over rice and topped with vegetables and sauce.
    p.mb1
      | Nulla egestas est in dui iaculis, at placerat nibh tincidunt. Curabitur at elit sit amet magna finibus congue. Donec non ante bibendum, tempus mauris at, pharetra lorem. Pellentesque lobortis in eros ac tincidunt. Praesent eu nisl sit amet massa suscipit faucibus a eu augue. Donec ipsum est, interdum non blandit vitae, bibendum vitae tellus. Suspendisse ultrices mollis elit, in hendrerit tellus pharetra vitae. Proin sed lectus maximus mauris tristique bibendum id vel sem. Curabitur sollicitudin ligula et purus dictum euismod. Donec tempus lacus in iaculis iaculis.
    p.mb1
      | Suspendisse eu aliquet libero. Aenean malesuada vestibulum iaculis. Curabitur vitae ipsum interdum, feugiat odio non, lacinia nibh. Nulla vitae volutpat massa. Curabitur porttitor viverra massa, id lacinia est ornare non. Aliquam erat volutpat. Integer lobortis dictum dolor, at convallis nulla lacinia vitae. Cras sit amet placerat lectus. Vestibulum pulvinar finibus dui eget egestas. Quisque et sagittis urna. Nulla facilisi. Nunc malesuada, arcu quis volutpat hendrerit, dui libero eleifend ipsum, sit amet hendrerit dui ligula nec enim. Nunc dictum efficitur tempus. Fusce suscipit feugiat tellus, ac bibendum nunc semper suscipit.
    .my4.mxn3.center
      // Start Image with heading
      figure.ampstart-image-with-heading.m0.relative.mb4
        amp-img(src='{{ page.feature }}' width='600' height='450' alt='Happy Hour Monday through Friday 5 PM' layout='responsive')        
        //figcaption.absolute.right-0.bottom-0.left-0
          header.ampstart-image-heading.px2.py2.line-height-4
            h2.h1.bold Happy Hour
            p.h4 Mon-Fri 5PM
      // End Image with heading
    h2#locations.my4.theme2-anchored Locations &amp; Hours
    .col.col-12.sm-col-6.mb4
      h3.mb1 Minneapolis
      p.mb0
        | 5 W 34th Street        
      p.mb0
        | Tue-Sun 5pm&ndash;9pm
        br
        | Mon closed
        br
        | Phone 
        a(href="tel:6123542516") (612) 354-2516
    h2#gallery.my4.theme2-anchored Photo Gallery
    amp-image-lightbox#lightbox(layout='nodisplay')
    amp-carousel.my2.mxn3(height='200' layout='fixed-height' type='carousel')
      amp-img(src='images/hero.jpg' width='300' height='200' aria-label='Dining area' on='tap:lightbox' role='button' tabindex='0')
      amp-img(src='images/bar.jpg' width='300' height='200' aria-label='Bar area' on='tap:lightbox' role='button' tabindex='0')
      amp-img(src='images/waffles.jpg' width='300' height='200' aria-label='Caramel Banana Waffles' on='tap:lightbox' role='button' tabindex='0')
      amp-img(src='images/soup.jpg' width='300' height='200' aria-label='Pumpkin Soup' on='tap:lightbox' role='button' tabindex='0')
      amp-img(src='images/steak.jpg' width='300' height='200' aria-label='Steak' on='tap:lightbox' role='button' tabindex='0')
      amp-img(src='images/pie.jpg' width='300' height='200' aria-label='Key Lime Pie' on='tap:lightbox' role='button' tabindex='0')
