doctype html
html(amp lang="en")
  head    
    meta(charset='utf-8')
    script(async src="https://cdn.ampproject.org/v0.js")
    // script(async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")
    link(rel="canonical" href="https://yggilabs.github.io/design")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='some description')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
    title Board
    // Disable tap highlight on IE
    meta(name='msapplication-tap-highlight' content='no')
    // Web Application Manifest
    link(rel='manifest' href='manifest.json')
    // Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='application-name' content='Web Starter Kit')
    link(rel='icon' sizes='192x192' href='images/touch/chrome-touch-icon-192x192.png')
    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content='Web Starter Kit')
    link(rel='apple-touch-icon' href='images/touch/apple-touch-icon.png')
    // Tile icon for Win8 (144x144 + tile color)
    meta(name='msapplication-TileImage' content='images/touch/ms-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor' content='#2F3BA2')
    // Color the status bar on mobile devices
    meta(name='theme-color' content='#2F3BA2')
    style(amp-boilerplate).  
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}    
    noscript
      style(amp-boilerplate).
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    style
      include ../styles/main.less
    link(href='includes/app.html', rel='import', async)
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='preload', as='style', onload='this.onload=null;this.rel="stylesheet"')
    noscript
      link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
