.
  ---
  layout: default
  title: menu
  canonical: https://yggilabs.github.io/design/menu.html
  ---
    
main#content(role='main')
  article.px3.py4
    h1.h4.mb4 Menu
    | {% for category in site.data.menu.categories %}
    h2.h1.my4 {{ category.name }}
    dl.clearfix
      | {% for item in category.items %}
      | {% if item.featured %}
      dt.h5.mb2.block.regular {{ site.data.menu.featured }}
      dd.m0
        amp-img.mb2(src='{{ item.image.url }}' width='300' height='200' aria-label='{{ item.image.label }}' layout='responsive')
      dt.col.col-10.h2.mb1 {{ item.name }}
      dd.col.col-2.m0.mb1.self-center.right-align {{ item.price }}
      dd.col.col-12.m0.mb4.theme2-divider {{ item.description }}
      | {% else %}
      dt.col.col-10.h3.mb1 {{ item.name }}
      dd.col.col-2.m0.mb1.self-center.right-align {{ item.price }}
      dd.col.col-12.m0.mb4  {{ item.description }}        
      | {% endif %}
      | {% endfor %}
    | {% endfor %}
