header.ampstart-headerbar.fixed.flex.justify-start.items-center.top-0.left-0.right-0.pl2.pr4
  .ampstart-navbar-trigger.pr2(role='button' aria-label='open sidebar' on='tap:header-sidebar.toggle' tabindex='0')
    | &#x2630;  
